[gcode_macro PREHEAT_PLA]
gcode:
    _CG28
    FRONT_CENTER
    Z100
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=205

[gcode_macro PREHEAT_PETG]
gcode:
    _CG28
    FRONT_CENTER
    Z100
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=230

[gcode_macro PREHEAT_ABS]
gcode:
    _CG28
    FRONT_CENTER
    Z100
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=240

[gcode_macro UNCLOG]
gcode:
    FRONT_CENTER
    Z60
    FLICKER

# Prime the nozzle
[gcode_macro PRIME_LINE]
gcode: 
  SAVE_GCODE_STATE NAME=PRIME_LINE
  M117 Prime Line
  _CG28                            ; home all axes if not already
  G90                             ; absolute coords
  M83                             ; extruder relative
  G1 Z5.0 F3000                   ; Move Z axis up
  G1 X2 Y10.0 F5000.0               ; Move to start position
  G1 Z0.20                        ; Move Z axis down
  G92 E0.0                        ; Reset Extruder

  G1 Y210.0 F1500.0 E20           ; Draw the first line
  G1 X3 F5000.0                   ; Move to side a little
  G1 Y10.0 F1500.0 E20            ; Draw the second line
  G10                             ; retract to avoid stringing

  G92 E0.0                        ; Reset Extruder
  G1 Z5.0 F3000                   ; Move Z Axis up
  RESTORE_GCODE_STATE NAME=PRIME_LINE

# Extrusion lengths must be adjusted for your particular configuration before use
[gcode_macro LOAD_FILAMENT]
gcode:
  {% if printer.idle_timeout.state != "Printing" %}
    _CG28                           ; home all axes if not already
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    G90                            ; absolute coords
    M83                            ; set extruder to relative
    Z100
    FRONT_CENTER
    G1 E50 F300                    ; slower extrusion for hotend path
    G1 E15 F150                    ; prime nozzle with filament
    G1 E-5 F150                   ; retract a little to prevent ooze
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT
  {% else %}
    { action_respond_info("Filament loading disabled while printing!") }
  {% endif %}

# Extrusion lengths must be adjusted for your particular configuration before use
[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% if printer.idle_timeout.state != "Printing" %}
    _CG28                           ; home all axes if not already
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
    Z100
    FRONT_CENTER
    M83                            ; set extruder to relative
    G1 E3 F300                     ; extrude a little to soften tip
    G1 E-70 F1800                  ; retract filament completely
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT
  {% else %}
    { action_respond_info("Filament unloading disabled while printing!") }
  {% endif %}
